<head>
	<link rel="stylesheet" type="text/css" href="css/game.css">
</head>
<body>
	<div id="gameBoard" class="gameInRow">
		<script>$("#gameBoard").load("html/boards/board1.html");</script>
	</div>
	<div id="gameMiddleArea"class="gameInRow">
		<script>$("#gameMiddleArea").load("html/middlearea.html");</script>
	</div>
	<div id="gameScoreTable" class="gameInRow">
		<script>$("#gameScoreTable").load("html/hiscore.html");</script>
	</div>
</body>