<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script type="text/javascript" src="js/jsfunctions.js"></script>
</head>
<body>
	<div id="windowSize">
	<div id="mainAreaWrapper">
	<div id="mainUpperArea">
	<div id="test"></div>
	<div id="testNameForm">
		<form>
			For just testing this game please enter your name &nbsp;
			<input type="text" name="testName" maxlength="20">
			<input type="button" name="testButton" value="Start game" onClick="connectToGame(testName.value);">
		</form>
	</div>
	<!--<div class="inRow">Pictures loaded &nbsp;</div><div id="percentLoaded" class="inRow">0</div><div class="inRow">&nbsp; %</div>-->
	<div id="upperArea"><script>$("#upperArea").load("html/upperarea.html");</script></div>
	</div>
	<div id="mainArea">
			<script>$("#mainArea").load("html/game.html");</script>
	</div>
	<div id=pictureCode></div>
	</div>
	</div>
</body>