#gameBoard{
	width: 750px;
}

#gameMiddleArea{
	position: relative;
	height: 750px;
	width: 400px;
}

#gameScoreTable{
	position: relative;
	width: 642px;
}

.gameInRow{
	display: inline-block;
	vertical-align: middle;
}