<head>
</head>
<body>
	<div id="hiScoreWrapper">
		HiScore:
		<br>
		<div class="inRow">
			<ul style="list-style-type: none;">
				<li>1.</li>
				<li>2.</li>
				<li>3.</li>
				<li>4.</li>
				<li>5.</li>
				<li>6.</li>
				<li>7.</li>
				<li>8.</li>
				<li>9.</li>
				<li>10.</li>
			</ul>
		</div>
		<div class="inRow">
			<ul id="hiScoreListName" style="list-style-type: none;">
			</ul>
		</div>
		<div class="inRow">
			<ul id="hiScoreListScore" style="list-style-type: none;">
			</ul>
		</div>
	</div>
</body>