<head>
	<link rel="stylesheet" type="text/css" href="css/middlearea.css">
</head>
<body>
	<div id="middleAreaWrapper">
		<div id="guessingPictureDiv"><img id="guessingPictureImg" src="pictures/loading.jpg"></div>
		<div class="inRow">Game points: &nbsp;</div><div id="score" class="inRow">0</div>
	</div>
</body>