<head>
	<link rel="stylesheet" type="text/css" href="css/board1.css">
</head>
<body>
	<div id="board1Wrapper">
		<div class="row">
			<img id="0" src="pictures/loading.jpg" onClick="clickedPicture(0);">
		</div>
		<div class="row">
			<img id="1" src="pictures/loading.jpg" onClick="clickedPicture(1);">
		</div>
		<div class="row">
			<img id="2" src="pictures/loading.jpg" onClick="clickedPicture(2);">
		</div>
		<div class="row">
			<img id="3" src="pictures/loading.jpg" onClick="clickedPicture(3);">
		</div>
		<div class="row">
			<img id="4" src="pictures/loading.jpg" onClick="clickedPicture(4);">
		</div>
		<div class="row">
			<img id="5" src="pictures/loading.jpg" onClick="clickedPicture(5);">
		</div>
		<div class="row">
			<img id="6" src="pictures/loading.jpg" onClick="clickedPicture(6);">
		</div>
		<div class="row">
			<img id="7" src="pictures/loading.jpg" onClick="clickedPicture(7);">
		</div>
		<div class="row">
			<img id="8" src="pictures/loading.jpg" onClick="clickedPicture(8);">
		</div>
		<div class="row">
			<img id="9" src="pictures/loading.jpg" onClick="clickedPicture(9);">
		</div>
		<div class="row">
			<img id="10" src="pictures/loading.jpg" onClick="clickedPicture(10);">
		</div>
		<div class="row">
			<img id="11" src="pictures/loading.jpg" onClick="clickedPicture(11);">
		</div>
		<div class="row">
			<img id="12" src="pictures/loading.jpg" onClick="clickedPicture(12);">
		</div>
		<div class="row">
			<img id="13" src="pictures/loading.jpg" onClick="clickedPicture(13);">
		</div>
		<div class="row">
			<img id="14" src="pictures/loading.jpg" onClick="clickedPicture(14);">
		</div>
		<div class="row">
			<img id="15" src="pictures/loading.jpg" onClick="clickedPicture(15);">
		</div>
		<div class="row">
			<img id="16" src="pictures/loading.jpg" onClick="clickedPicture(16);">
		</div>
		<div class="row">
			<img id="17" src="pictures/loading.jpg" onClick="clickedPicture(17);">
		</div>
		<div class="row">
			<img id="18" src="pictures/loading.jpg" onClick="clickedPicture(18);">
		</div>
		<div class="row">
			<img id="19" src="pictures/loading.jpg" onClick="clickedPicture(19);">
		</div>
		<div class="row">
			<img id="20" src="pictures/loading.jpg" onClick="clickedPicture(20);">
		</div>
		<div class="row">
			<img id="21" src="pictures/loading.jpg" onClick="clickedPicture(21);">
		</div>
		<div class="row">
			<img id="22" src="pictures/loading.jpg" onClick="clickedPicture(22);">
		</div>
		<div class="row">
			<img id="23" src="pictures/loading.jpg" onClick="clickedPicture(23);">
		</div>
		<div class="row">
			<img id="24" src="pictures/loading.jpg" onClick="clickedPicture(24);">
		</div>
		<div class="row">
			<img id="25" src="pictures/loading.jpg" onClick="clickedPicture(25);">
		</div>
		<div class="row">
			<img id="26" src="pictures/loading.jpg" onClick="clickedPicture(26);">
		</div>
		<div class="row">
			<img id="27" src="pictures/loading.jpg" onClick="clickedPicture(27);">
		</div>
		<div class="row">
			<img id="28" src="pictures/loading.jpg" onClick="clickedPicture(28);">
		</div>
		<div class="row">
			<img id="29" src="pictures/loading.jpg" onClick="clickedPicture(29);">
		</div>
		<div class="row">
			<img id="30" src="pictures/loading.jpg" onClick="clickedPicture(30);">
		</div>		
		<div class="row">
			<img id="31" src="pictures/loading.jpg" onClick="clickedPicture(31);">
		</div>
		<div class="row">
			<img id="32" src="pictures/loading.jpg" onClick="clickedPicture(32);">
		</div>
		<div class="row">
			<img id="33" src="pictures/loading.jpg" onClick="clickedPicture(33);">
		</div>
		<div class="row">
			<img id="34" src="pictures/loading.jpg" onClick="clickedPicture(34);">
		</div>
		<div class="row">
			<img id="35" src="pictures/loading.jpg" onClick="clickedPicture(35);">
		</div>
		<div class="row">
			<img id="36" src="pictures/loading.jpg" onClick="clickedPicture(36);">
		</div>
		<div class="row">
			<img id="37" src="pictures/loading.jpg" onClick="clickedPicture(37);">
		</div>
		<div class="row">
			<img id="38" src="pictures/loading.jpg" onClick="clickedPicture(38);">
		</div>
		<div class="row">
			<img id="39" src="pictures/loading.jpg" onClick="clickedPicture(39);">
		</div>
		<div class="row">
			<img id="40" src="pictures/loading.jpg" onClick="clickedPicture(40);">
		</div>
		<div class="row">
			<img id="41" src="pictures/loading.jpg" onClick="clickedPicture(41);">
		</div>
		<div class="row">
			<img id="42" src="pictures/loading.jpg" onClick="clickedPicture(42);">
		</div>
		<div class="row">
			<img id="43" src="pictures/loading.jpg" onClick="clickedPicture(43);">
		</div>
		<div class="row">
			<img id="44" src="pictures/loading.jpg" onClick="clickedPicture(44);">
		</div>
		<div class="row">
			<img id="45" src="pictures/loading.jpg" onClick="clickedPicture(45);">
		</div>
		<div class="row">
			<img id="46" src="pictures/loading.jpg" onClick="clickedPicture(46);">
		</div>
		<div class="row">
			<img id="47" src="pictures/loading.jpg" onClick="clickedPicture(47);">
		</div>
		<div class="row">
			<img id="48" src="pictures/loading.jpg" onClick="clickedPicture(48);">
		</div>
		<div class="row">
			<img id="49" src="pictures/loading.jpg" onClick="clickedPicture(49);">
		</div>
		<div class="row">
			<img id="50" src="pictures/loading.jpg" onClick="clickedPicture(50);">
		</div>
		<div class="row">
			<img id="51" src="pictures/loading.jpg" onClick="clickedPicture(51);">
		</div>
		<div class="row">
			<img id="52" src="pictures/loading.jpg" onClick="clickedPicture(52);">
		</div>
		<div class="row">
			<img id="53" src="pictures/loading.jpg" onClick="clickedPicture(53);">
		</div>
		<div class="row">
			<img id="54" src="pictures/loading.jpg" onClick="clickedPicture(54);">
		</div>
		<div class="row">
			<img id="55" src="pictures/loading.jpg" onClick="clickedPicture(55);">
		</div>
		<div class="row">
			<img id="56" src="pictures/loading.jpg" onClick="clickedPicture(56);">
		</div>
		<div class="row">
			<img id="57" src="pictures/loading.jpg" onClick="clickedPicture(57);">
		</div>
		<div class="row">
			<img id="58" src="pictures/loading.jpg" onClick="clickedPicture(58);">
		</div>
		<div class="row">
			<img id="59" src="pictures/loading.jpg" onClick="clickedPicture(59);">
		</div>
		<div class="row">
			<img id="60" src="pictures/loading.jpg" onClick="clickedPicture(60);">
		</div>
		<div class="row">
			<img id="61" src="pictures/loading.jpg" onClick="clickedPicture(61);">
		</div>
		<div class="row">
			<img id="62" src="pictures/loading.jpg" onClick="clickedPicture(62);">
		</div>
		<div class="row">
			<img id="63" src="pictures/loading.jpg" onClick="clickedPicture(63);">
		</div>
		<div class="row">
			<img id="64" src="pictures/loading.jpg" onClick="clickedPicture(64);">
		</div>
		<div class="row">
			<img id="65" src="pictures/loading.jpg" onClick="clickedPicture(65);">
		</div>
		<div class="row">
			<img id="66" src="pictures/loading.jpg" onClick="clickedPicture(66);">
		</div>
		<div class="row">
			<img id="67" src="pictures/loading.jpg" onClick="clickedPicture(67);">
		</div>
		<div class="row">
			<img id="68" src="pictures/loading.jpg" onClick="clickedPicture(68);">
		</div>
		<div class="row">
			<img id="69" src="pictures/loading.jpg" onClick="clickedPicture(69);">
		</div>
		<div class="row">
			<img id="70" src="pictures/loading.jpg" onClick="clickedPicture(70);">
		</div>
		<div class="row">
			<img id="71" src="pictures/loading.jpg" onClick="clickedPicture(71);">
		</div>
		<div class="row">
			<img id="72" src="pictures/loading.jpg" onClick="clickedPicture(72);">
		</div>
		<div class="row">
			<img id="73" src="pictures/loading.jpg" onClick="clickedPicture(73);">
		</div>
		<div class="row">
			<img id="74" src="pictures/loading.jpg" onClick="clickedPicture(74);">
		</div>
		<div class="row">
			<img id="75" src="pictures/loading.jpg" onClick="clickedPicture(75);">
		</div>
		<div class="row">
			<img id="76" src="pictures/loading.jpg" onClick="clickedPicture(76);">
		</div>
		<div class="row">
			<img id="77" src="pictures/loading.jpg" onClick="clickedPicture(77);">
		</div>
		<div class="row">
			<img id="78" src="pictures/loading.jpg" onClick="clickedPicture(78);">
		</div>
		<div class="row">
			<img id="79" src="pictures/loading.jpg" onClick="clickedPicture(79);">
		</div>
		<div class="row">
			<img id="80" src="pictures/loading.jpg" onClick="clickedPicture(80);">
		</div>
		<div class="row">
			<img id="81" src="pictures/loading.jpg" onClick="clickedPicture(81);">
		</div>
		<div class="row">
			<img id="82" src="pictures/loading.jpg" onClick="clickedPicture(82);">
		</div>
		<div class="row">
			<img id="83" src="pictures/loading.jpg" onClick="clickedPicture(83);">
		</div>
		<div class="row">
			<img id="84" src="pictures/loading.jpg" onClick="clickedPicture(84);">
		</div>
		<div class="row">
			<img id="85" src="pictures/loading.jpg" onClick="clickedPicture(85);">
		</div>
		<div class="row">
			<img id="86" src="pictures/loading.jpg" onClick="clickedPicture(86);">
		</div>
		<div class="row">
			<img id="87" src="pictures/loading.jpg" onClick="clickedPicture(87);">
		</div>
		<div class="row">
			<img id="88" src="pictures/loading.jpg" onClick="clickedPicture(88);">
		</div>
		<div class="row">
			<img id="89" src="pictures/loading.jpg" onClick="clickedPicture(89);">
		</div>
		<div class="row">
			<img id="90" src="pictures/loading.jpg" onClick="clickedPicture(90);">
		</div>
		<div class="row">
			<img id="91" src="pictures/loading.jpg" onClick="clickedPicture(91);">
		</div>
		<div class="row">
			<img id="92" src="pictures/loading.jpg" onClick="clickedPicture(92);">
		</div>
		<div class="row">
			<img id="93" src="pictures/loading.jpg" onClick="clickedPicture(93);">
		</div>
		<div class="row">
			<img id="94" src="pictures/loading.jpg" onClick="clickedPicture(94);">
		</div>
		<div class="row">
			<img id="95" src="pictures/loading.jpg" onClick="clickedPicture(95);">
		</div>
		<div class="row">
			<img id="96" src="pictures/loading.jpg" onClick="clickedPicture(96);">
		</div>
		<div class="row">
			<img id="97" src="pictures/loading.jpg" onClick="clickedPicture(97);">
		</div>
		<div class="row">
			<img id="98" src="pictures/loading.jpg" onClick="clickedPicture(98);">
		</div>
		<div class="row">
			<img id="99" src="pictures/loading.jpg" onClick="clickedPicture(99);">
		</div>
	</div>
</body>